@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Onest:wght@100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; font-family: "Orbitron", sans-serif; }

body
{
	background-color: rgb(14, 70, 58);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5rem;
}

h1
{
	color: rgb(18, 26, 23);
	font-size: 70px;
}

.calculadora
{
	background-color: rgba(190, 207, 204, 0.793);
	display: flex;
	flex-direction: column;
	border: 10px solid rgb(19, 32, 24);
	gap: 2rem;
	height: 35rem;
	width: 25rem;
	padding: 3rem;
	border-radius: 3rem;
}

.tela_de_resultado
{
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: rgb(47, 67, 66);
	border: 5px solid rgb(19, 32, 24);
	justify-content: center;
	align-items: center;
	gap: 12rem;
	height: 5rem;
	border-radius: 3rem;
	
}
.tela_de_resultado p
{
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
}

.pequeno
{
	color: white;
	z-index: 2;
	font-size: 10px;
	opacity: 30%;
	margin-top: 36px;
}

.resultado
{
	z-index: 1;
	color: white;
	font-size: 40px;
}

.botoes
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fila
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.botao
{
	height: 70px;
	width: 70px;
	font-size: 25px;
}

.botao p
{
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
}

.botao.igual
{
	background-color: rgb(72, 180, 142);
}